<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} %5level - %msg \(%file:%line\)%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.social.kakao" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<root level="info">
		<appender-ref ref="console" />
	</root>

</configuration>


